@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

/* header start */

header {
  padding: 0 40px;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.logo {
  margin-right: 60px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.link {
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: medium;
}

.link:hover {
  color: hsl(0, 0%, 8%);
}

.link.active {
  color: hsl(0, 0%, 8%);
}

.icon-down {
  display: inline-block;
}

.icon-down.hidden {
  display: none;
}

.icon-up {
  display: none;
}

.icon-up.active {
  display: inline-block;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.login {
  width: 100%;
  text-align: center;
}

.register {
  width: 100%;
  text-align: center;
  border: 2px solid hsl(0, 0%, 41%);
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.register:hover {
  border: 2px solid hsl(0, 0%, 8%);
}

.dropdown {
  display: none;
  gap: 20px;
  flex-direction: column;
}

.dropdown a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dropdown.active.features {
  left: -70px;
}

.dropdown.active {
  width: max-content;
  position: absolute;
  top: 40px;
  left: 0px;
  display: flex;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.5s ease;
  z-index: 999;
}

/* .dropdown.activeStatic {
  display: flex;
  position: static;
  background: none;
} */

.openMenu,
.closeMenu {
  display: block;
}

/* Header End */

/* Main start */
main {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.hero {
  margin: auto;
  width: 50%;
  padding: 0 0 0 100px;
}

.hero h1 {
  font-size: 80px;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

.hero p {
  margin: 40px 0;
  font-weight: 500;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  max-width: 450px;
  line-height: 1.2;
}

.link-learn {
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
  padding: 12px 20px;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.link-learn:hover {
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}

.partner {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.image-hero {
  width: 50%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.hero-desktop {
  display: block;
  width: 380px;
  object-fit: cover;
  object-position: center;
}

.hero-mobile {
  display: none;
}

.closeMenu,
.openMenu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Main end */

/* Tablet */
@media only screen and (max-width: 1024px) {
  body {
    position: relative;
    overflow-x: hidden;
  }

  .partner {
    gap: 10px;
  }
}
/* Tablet */

/* Style Mobile */

@media only screen and (max-width: 768px) {
  /* style header start */
  body {
    position: relative;
  }
  header {
    padding: 0 15px;
    min-height: 70px;
    justify-content: space-between;
  }

  nav {
    width: 50%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
    z-index: 999;
    background-color: hsl(0, 0%, 98%);
    box-shadow: -1px 0 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }

  nav.active {
    transform: translateX(0);
  }

  .close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .closeMenu {
    display: block;
  }

  .nav-left {
    align-items: flex-start;
    gap: 25px;
  }

  .icon-up,
  .icon-down {
    margin-left: 10px;
  }

  .dropdown.active {
    width: 100%;
    position: static;
    top: 40px;
    left: 0px;
    display: flex;
    padding-left: 25px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.5s ease;
    z-index: 999;
  }

  .nav-right {
    margin-top: 20px;
    width: 100%;
    gap: 25px;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
  }

  .openMenu {
    display: block;
  }

  /* style header end */

  /* style main start */
  main {
    margin-top: 20px;
    padding: 0;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .image-hero {
    width: 100%;
  }

  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .hero {
    margin: 0 0 50px 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }

  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    margin: 25px auto 40px auto;
    max-width: 400px;
  }

  .partner {
    margin-top: 50px;
    padding: 10px 0;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  /* style main end */
}
